# Regresja

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import cross_val_predict
from sklearn import datasets, linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn import model_selection
from sklearn import  metrics
from statsmodels.formula.api import ols

Rozważmy zbiór Boston

In [21]:
boston = datasets.load_boston()
# print description
# print(boston.DESCR)

In [22]:
print(boston.keys())
print(boston.data.shape)
print(boston.feature_names)

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])
(506, 13)
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [23]:
# get the data
boston_X = boston.data
boston_Y = boston.target

# Split the data into training/testing sets
boston_X_train = boston_X[:-50]
boston_X_test = boston_X[-50:]
 
# Split the targets into training/testing sets
boston_y_train = boston_Y[:-50]
boston_y_test = boston_Y[-50:]

In [24]:
bos=pd.DataFrame(boston.data[:-50])
bos.columns = boston.feature_names
bos['PRICE']=boston.target[:-50]
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [25]:
bos1=pd.DataFrame(boston_X[-50:])
bos1.columns = boston.feature_names
bos1['PRICE']=boston.target[-50:]
bos1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,4.66883,0.0,18.1,0.0,0.713,5.976,87.9,2.5806,24.0,666.0,20.2,10.48,19.01,12.7
1,8.20058,0.0,18.1,0.0,0.713,5.936,80.3,2.7792,24.0,666.0,20.2,3.50,16.94,13.5
2,7.75223,0.0,18.1,0.0,0.713,6.301,83.7,2.7831,24.0,666.0,20.2,272.21,16.23,14.9
3,6.80117,0.0,18.1,0.0,0.713,6.081,84.4,2.7175,24.0,666.0,20.2,396.90,14.70,20.0
4,4.81213,0.0,18.1,0.0,0.713,6.701,90.0,2.5975,24.0,666.0,20.2,255.23,16.42,16.4

In [26]:
model = ols("PRICE ~ DIS + RM + PTRATIO + NOX + B + CRIM + CHAS + RAD + TAX + LSTAT + RM:LSTAT + TAX:LSTAT + DIS:ZN", bos).fit()
# Print the summary
print((model.summary2()))

                 Results: Ordinary least squares
==================================================================
Model:              OLS              Adj. R-squared:     0.822
Dependent Variable: PRICE            AIC:                2573.8410
Date:               2022-03-25 15:24 BIC:                2631.5559
No. Observations:   456              Log-Likelihood:     -1272.9
Df Model:           13               F-statistic:        162.4
Df Residuals:       442              Prob (F-statistic): 4.86e-159
R-squared:          0.827            Scale:              16.059
-------------------------------------------------------------------
             Coef.    Std.Err.     t      P>|t|    [0.025    0.975]
-------------------------------------------------------------------
Intercept    -8.8561    5.4810   -1.6158  0.1069  -19.6283   1.9160
DIS          -1.4149    0.1808   -7.8250  0.0000   -1.7703  -1.0595
RM            9.4265    0.5178   18.2040  0.0000    8.4088  10.4442
PTRATIO      -0.6292    0.1126   -5.5896  0.0000   -0.8504  -0.4080
NOX         -14.5551    3.1728   -4.5875  0.0000  -20.7906  -8.3195
B             0.0023    0.0025    0.9344  0.3506   -0.0026   0.0072
CRIM         -0.1282    0.0294   -4.3667  0.0000   -0.1859  -0.0705
CHAS          0.9082    0.7476    1.2148  0.2251   -0.5611   2.3776
RAD           0.4693    0.0697    6.7328  0.0000    0.3323   0.6063
TAX           0.0022    0.0042    0.5124  0.6087   -0.0061   0.0104
LSTAT         3.0494    0.2592   11.7650  0.0000    2.5400   3.5588
RM:LSTAT     -0.5116    0.0352  -14.5165  0.0000   -0.5808  -0.4423
TAX:LSTAT    -0.0015    0.0002   -6.8052  0.0000   -0.0019  -0.0010
DIS:ZN        0.0059    0.0017    3.5259  0.0005    0.0026   0.0092
------------------------------------------------------------------
Omnibus:              141.305      Durbin-Watson:         1.364
Prob(Omnibus):        0.000        Jarque-Bera (JB):      2623.163
Skew:                 0.822        Prob(JB):              0.000
Kurtosis:             14.634       Condition No.:         227968
==================================================================
* The condition number is large (2e+05). This might indicate
strong multicollinearity or other numerical problems.

In [27]:
from sklearn import  metrics
metrics.r2_score(bos.PRICE, model.predict(bos))

0.8268902633731527

In [28]:
from sklearn import  metrics
metrics.r2_score(bos1.PRICE, model.predict(bos1))

0.24770969929033992